using System;

namespace emlang
{
	public class Expr
	{
        {% for expression in expressions %}
		static class {{ expression[0] }} : Expr 
		{
			{% for field in expression[1] %}
			static {{ field }};
			{% endfor %}
						
			{{ expression[0] }}({% for field in expression[1] %}{{ field }}{% if not loop.last %}, {% endif %}{% endfor %}) {
				{% for field in expression[1] %}
				this.{{ field.split(' ')[1] }} = {{ field.split(' ')[1] }};
				{% endfor %}
			}
		}
		{% endfor %}
	}
}
