class Expr():
	{% for expression in expressions %}
	class {{ expression[0] }}(Expr):
		def __init__(self, {% for f in expression[1] %}{{ f }}{{ ", " if not loop.last }}{% endfor %}):
			{% for field in expression[1] %}
			this.{{ field }} = {{ field }}
			{% endfor %}
	{% endfor %}
