class Stmt():
	def visitor(self, visitor):
		{% for expression in expressions -%}
		def visit_{{ expression[0].lower() }}_stmt(self, expr):
			pass
		{% endfor -%}

{% for expression in expressions %}
class {{ expression[0] }}(Stmt):
    def __init__(self, {% for f in expression[1] %}{{ f }}{{ ", " if not loop.last }}{% endfor %}):
        {% for field in expression[1] -%}
        self.{{ field }} = {{ field }}
        {% endfor %}
    def accept(self, visitor):
        return visitor.visit_{{ expression[0].lower() }}_stmt(self)
{% endfor -%}